.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.board {
  display: table;
  margin: 40px auto; /*40px margin on top, bottom and centers table*/
}

body {
  background-color: rgb(8, 115, 185);
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-top: 40px;
  padding: 0;

}

.row {
  display: table-row;
  background-color: yellow;
}

.cell {
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  font-family: monospace;
  cursor: pointer;
  border-radius: 50%;
}

.cell.empty {
  border-radius: 50%;
  background-color: rgb(8, 115, 185);
}

.cell.p1 {
 background-color: black;
 color: white;
 transition: 1s ease all;
 border-radius: 50%;
}

.cell.p2 {
  background-color: red;
  color: black;
  transition: 1s ease all;
  border-radius: 50%;
}