/* resetting browser specific padding and margins
   border-box makes the content, padding and border included in the total dimensions calculation,
   instead of just the content */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
